.ad {
  border: 1px solid #5b9bd5;
  width: 239px;
  margin-top: -102px;
  position: absolute;
  margin-left: -10px;
}
.mr-10 {
  margin-right: 10px;
}
::ng-deep.dataTables_wrapper {
  .dataTables_info {
    position: absolute;
    top: 0rem;
    right: 1rem;
  }
  .tr_count {
    padding: 8px 14px;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
  }
  thead th{
      text-transform: capitalize;
  }
  table.dataTable{
    margin: unset;
  }
}
