.chartsZoom {
  width: 900px;
  height: 60vh;
  max-height: 80vh;
  margin: 0 auto;
  //   overflow: hidden;
}
.mat-dialog-container {
  overflow: hidden;
}


::ng-deep {
  .mat-dialog-content {
    max-height: 80vh;
    overflow: scroll;
  }
  .weekly-overtimea {
    .lines {
      .wline-group {
        .line {
          fill: none;
          stroke: #07575b;
          stroke-width: 3;
        }
        :nth-child(1) > .line {
          fill: none;
          stroke: #66a5ad;
          stroke-width: 3;
        }
      }
    }
  }
  .penal-Instance {
    .lines {
      .line {
        fill: none;
        stroke: #07575b;
        stroke-width: 3;
      }
      .line-group:nth-child(1) > .line {
        fill: none;
        stroke: #66a5ad;
        stroke-width: 3;
      }
    }
  }
}
